@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Adjust based on navbar height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}